{% extends 'base.html.twig' %}

{% block title %}Site Thuy Tien{% endblock %}

{% block body %}

 	{% for flash_error in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}

	<div class="container">

		<header>

			<div class = "nav-haut">

				<div class="logo">
					<img src="{{ asset('images/logo/Logo-ThuyTien2.jpg') }}" alt="">
				</div>

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="#">Produits asiatiques <span class="sr-only"></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Produits africains <span class="sr-only"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Produits vaisselles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Notre gamme Bio</a>
						</li>
							
					</ul>

				</nav>

				<i class="fa-solid fa-user"></i>

			</div>

			<div class = "background-haut">

			</div>
			

		</header>

	</div>

{% endblock %}

