<footer>

             <div id = "nav-bas">
                <nav class = "foot-nav">
                    <ul>
                        <a href="{{ path("app_login") }}"><li>À propos </li></a>
                        <a href="{{ path("app_login") }}"><li>Les meilleures ventes</li></a>
                        <a href="{{ path("app_login") }}"><li>Nos recettes</li></a>
                        <a href="{{ path("app_login") }}"><li>Contactez-Nous</li><a>
                    </ul>
                </nav>
            </div>

			<div id = "foot-bas">
        
                <div class = "group">
                    <h4>Suivez-Nous</h4>

							<a href="https://www.facebook.com/pages/category/Grocery-Store/Epicerie-Afro-asiatique-THUY-TIEN-1548069321919692/" target="_blank"><i class="fab fa-facebook facebook"></i></a>
							<a href="https://www.instagram.com/epicerie.thuytien/"target="_blank"><i class="fab fa-instagram twitter"></i></a>
							<a href="https://www.instagram.com/epicerie.thuytien/"target="_blank"><i class="fa-brands fa-youtube youtube"></i></a>
				</div>	

				<div class = "group">

					<h4>Notre boutique</h4>

					<div>
						<p class = "address"> <i class="fa-solid fa-location-dot boutique"></i>  7 rue Jules Barni, 80000 Amiens </p>
						
						<p class = "address"> <i class="fa-solid fa-mobile-screen boutique"> </i> 03 22 91 79 04 </p>

						<p class = "address"> <i class="fa-solid fa-clock boutique"></i> 10:00-19:00 Lundi au Samedi </p>

					</div>
				
				</div>

				<div class="input-group recherche">
					<div class="form-outline">
						<input type="search" id="form1" class="form-control barre" />
						<label class="form-label label" for="form1"></label>
					</div>
					<button type="button" class="btn btn-primary search">
						 Recherche
					</button>
				</div>
			</div>
        
            <div class= "thuytien">
                <p >© Thuy Tien 2022</p>
             </div>
        
        </footer>