{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur espace d'Admin!{% endblock %}

{% block body %}

    <div id ="admin">
        <section id ="content">
            <div class = "admin-control">
                <h6 class = "admin-titre"> Connectez-vous </h6> 
                <button type="button" class="btn btn-info"> <a href = "{{path('app_login')}}">Connectez-vous </a> </button> 
            </div>

            <div class = "admin-control">
                <h6 class = "admin-titre"> Revenez sur le site web </h6> 
                <button type="button" class="btn btn-danger"> <a href = "{{path('home_front')}}"> Click pour venir le site</a> </button>
            </div>

           
        </section>
    </div>

{% endblock %}
