{% extends 'base.html.twig' %}

{% block title %}Modifier Categories{% endblock %}

{% block body %}
    <h1>Modifier Categories</h1>

    {{ include('categories/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('show_categories_all') }}">Revenir à la liste</a>

    {{ include('categories/delete.html.twig') }}
{% endblock %}